<h1>User info</h1>
  <table class="table">
    <tr>
  <p>画像</p>
      <% if user.profile_image.attached? %>
        <%= image_tag user.profile_image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
      <td></td>
    </tr>
    <tr>
      <td>name</td>
      <td>introduction</td>
    </tr>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.introduction %></td>
    </tr>
  </table>